<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<br><center><h1><b>This is Home Page.</h1><center>
    <h2>This is the sample Hospital Details page for my template project <br><br>
        We have the following pages to visit</b></h2>
    <h2>
    <br>&emsp;<br>1. <a href = "http://127.0.0.1:8000/admin">Admin Panel</a>
    <br>&emsp;<br>2. <a href = "http://127.0.0.1:8000/contact">Contact</a>
    <br>&emsp;<br>3. <a href = "http://127.0.0.1:8000/abot">About</a>
    <br>&emsp;<br>4. <a href = "http://127.0.0.1:8000/hospital_list">Hospital_List</a>
    <br>&emsp;<br>5. <a href = "http://127.0.0.1:8000/hospital_detail">Hospital_Detail</a>
    <br>&emsp;<br>6. <a href = "http://127.0.0.1:8000/doctor_list">Doctor_List</a>
    <br>&emsp;<br>7. <a href = "http://127.0.0.1:8000/doctor_detail">Doctor_Detail</a>
<!--    <br>&emsp;<br>7. <a href = "http://127.0.0.1:8000/add_hospital">Add_Dospital</a>-->
<!--    <br>&emsp;<br>8. <a href = "http://127.0.0.1:8000/add_doctor">Add_Doctor</a>-->
</h2>
</body>
</html>