<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOSPITAL_DETAIL</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
</head>
<body>
<center><br><b><h1>This is Hospital Details page</h1><b></b>
    <h2>This is the sample Hospital Details page for my template project </h2><br>

<table>

  <colgroup>
    <col span="1" width = 20%;>
    <col span="2" width = 50%;>
    <col span="3" width = 30%;>
  </colgroup>
  <tr>
    <th>Sr.No.</th>
    <th>Name of Hospital</th>
    <th>No. of Rooms</th>
  </tr>

  <tr>
    <td>1</td>
    <td>Radiant Hospital</td>
    <td>210</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Murke Hospital</td>
    <td>120</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Kabra Hospital</td>
    <td>60</td>
  </tr>
  <tr>
    <td>4</td>
    <td>City Hospital</td>
    <td>220</td>
  </tr>
  <tr>
    <td>5</td>
    <td>Kamna Hospital</td>
    <td>40</td>
  </tr>

</table>
</body>
</html>