<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Home Page</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
        body {
        font-family: "Sofia";
        color : green;
        }
    </style>
</head>
<body>
<div id="bg">

    <center>
    <h1><b>Home Page</b></h1>
    <br>
    <h2>
        1. <a href = http://127.0.0.1:8000/employee> Add Employee</a><br><br>
        2. <a href = http://127.0.0.1:8000/add_hospital> Add Hospital</a><br><br>
        3. <a href = http://127.0.0.1:8000/add_doctor> Add Doctor</a><br><br>
        4. <a href = http://127.0.0.1:8000/add_patient> Add Patient</a><br><br>
        5. <a href = http://127.0.0.1:8000/contact_us> Contact Us</a><br><br>
        6. <a href = http://127.0.0.1:8000/admin> Goto Admin Panel</a><br><br>

    </h2>
    </center>
</div>

</body>
</html>